.checkboxStyle_label {
  left: 40px;
}
.checkboxStyle input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
.checkboxStyle_label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #121212;
  background: #fff;
  margin-right: 8px;
  position: absolute;
  top: 5px;
  left: -35px;
}
.checkboxStyle_check {
  top: -8px;
  left: -3px;
}
