html,
body {
  overflow-x: hidden;
  width: 100%;
}
.top_0 {
  top: 0;
}
.h_100vh {
  height: 100vh;
}
.listStyle_none {
  list-style: none !important;
}
.fz_12 {
  font-size: 12px;
}
.fz_14 {
  font-size: 14px !important;
}
.fz_16 {
  font-size: 16px !important;
}
.fz_md_14 {
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}
.fz_md_16 {
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}
.fz_lg_16 {
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}
.fz_20 {
  font-size: 20px;
}
.fz_md_20 {
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}
.fz_24 {
  font-size: 24px;
}
.fz_lg_24 {
  @include media-breakpoint-up(lg) {
    font-size: 24px !important;
  }
}
.fz_30 {
  font-size: 30px !important;
}
.fz_md_24 {
  @include media-breakpoint-up(md) {
    font-size: 24px !important;
  }
}
.fz_lg_24 {
  @include media-breakpoint-up(lg) {
    font-size: 24px !important;
  }
}
.fz_xl_24 {
  @include media-breakpoint-up(xl) {
    font-size: 24px !important;
  }
}
.fz_24_important {
  font-size: 24px !important;
}
.fz_md_30 {
  @include media-breakpoint-up(md) {
    font-size: 30px !important;
  }
}
.fz_lg_30 {
  @include media-breakpoint-up(lg) {
    font-size: 30px !important;
  }
}
.fz_xl_30 {
  @include media-breakpoint-up(xl) {
    font-size: 30px !important;
  }
}
.fz_36 {
  font-size: 36px;
}
.fz_md_36 {
  @include media-breakpoint-up(md) {
    font-size: 36px;
  }
}
.fz_xl_36 {
  @include media-breakpoint-up(xl) {
    font-size: 36px;
  }
}
.fz_40 {
  font-size: 40px;
}
.fz_48 {
  font-size: 48px;
}
.fz_md_48 {
  @include media-breakpoint-up(md) {
    font-size: 48px !important;
  }
}
.fz_xl_48 {
  @include media-breakpoint-up(xl) {
    font-size: 48px !important;
  }
}
.fz_lg_64 {
  @include media-breakpoint-up(lg) {
    font-size: 64px;
  }
}
.fz_65 {
  font-size: 65px;
}
.fz_md_72 {
  @include media-breakpoint-up(md) {
    font-size: 72px;
  }
}
.fz_75 {
  font-size: 75px;
}
.fontOrbitron {
  font-family: "Orbitron", sans-serif;
}
.fontNotoSans {
  font-family: "Noto Sans TC", sans-serif !important;
}
.fontRoboto {
  font-family: "Roboto", sans-serif !important;
}
.zIndex_10 {
  z-index: 10;
}
.zIndex_20 {
  z-index: 20;
}
.zIndex_30 {
  z-index: 30;
}
.zIndex_40 {
  z-index: 40;
}
.zIndex_100 {
  z-index: 100;
}
.zIndex_500 {
  z-index: 500;
}
.w_340px {
  width: 340px;
}
.w_50px {
  width: 50px;
}
.w_50 {
  width: 50%;
}
.w_60 {
  width: 60%;
}
.w_75 {
  width: 75%;
}
.w_lg_75 {
  @include media-breakpoint-up(lg) {
    width: 75%;
  }
}
.w_max_150px {
  max-width: 150px;
}
.w_max_lg_230px {
  @include media-breakpoint-up(lg) {
    max-width: 230px;
  }
}
.w_md_50 {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
.w_max_lg_50 {
  @include media-breakpoint-up(lg) {
    max-width: 50% !important;
  }
}
.w_max_50 {
  max-width: 50% !important;
}
.w_max_80 {
  max-width: 80% !important;
}
.w_max_100 {
  max-width: 100% !important;
}
.w_max_md_50 {
  @include media-breakpoint-up(md) {
    max-width: 50% !important;
  }
}
.w_max_md_70 {
  @include media-breakpoint-up(md) {
    max-width: 70% !important;
  }
}
.w_max_md_80 {
  @include media-breakpoint-up(md) {
    max-width: 80% !important;
  }
}
.w_xl_1440 {
  @include media-breakpoint-up(xl) {
    max-width: 1440px !important;
  }
}
.table_w_1 {
  width: 1%;
}
.table_w_3 {
  width: 3%;
}
.table_w_5 {
  width: 5%;
}
.table_w_md_5 {
  @include media-breakpoint-up(lg) {
    width: 5%;
  }
}
.table_w_7 {
  width: 7%;
}
.table_w_10 {
  width: 10%;
}
.table_w_15 {
  width: 15%;
}
.table_w_20 {
  width: 20%;
}
.table_w_md_10 {
  @include media-breakpoint-up(md) {
    width: 10%;
  }
}
.table_w_md_15 {
  @include media-breakpoint-up(md) {
    width: 15%;
  }
}
.table_w_md_20 {
  @include media-breakpoint-up(md) {
    width: 20%;
  }
}
.mb_13 {
  margin-bottom: 13px;
}
.mx_15px {
  margin: 0 15px;
}
.time_ml_auto {
  @media (min-width: 1450px) {
    margin-left: 0 !important;
  }
  @media (min-width: 1550px) {
    margin-left: 48px !important;
  }
  @media (min-width: 1650px) {
    margin-left: 106px !important;
  }
}
.pt_6 {
  padding-top: 6px;
}
.px_lg_15 {
  @include media-breakpoint-up(lg) {
    padding: 0 15px !important;
  }
}
.opacity_0 {
  opacity: 0 !important;
}
.opacity_1 {
  opacity: 1 !important;
}
.rounded-md-0 {
  @include media-breakpoint-up(md) {
    border-radius: 0 !important;
  }
}
.d_none {
  display: none;
}
.table tbody tr td {
  vertical-align: middle;
  @include media-breakpoint-up(md) {
    vertical-align: top;
  }
}
.position_absolute {
  position: absolute;
}
.position_lg_relative {
  @include media-breakpoint-up(lg) {
    position: relative;
  }
}
